* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #333647;
}

/* section background transparent */

.bg_transparent {
    position: absolute;
}

#bg_trans1 img {
    width: 30%;
}

/*body content */

.body_content {
    position: absolute;
    width: 100%;
}

/* section header */

.header_wrap {
    margin-top: 50px;
    margin-right: 125px;
    margin-left: 125px;
}

.link_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#link_nav_email {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#icon_message {
    width: 20px;
    margin-right: 10px;
}

#icon_message img {
    width: 100%;
}

#email {

}

#email a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

#link_nav_social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

#link_nav_social a, p{
    color: white;
    text-decoration: none;
}

#link_nav_social a:hover {
    color: #d1b176;
}

/* section content */

.sec_main_wrap {
    margin: 100px 125px 0 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_pic {
    display: flex;
    justify-content: center;
}

.profile_pic img {
    width: 15%;
    border-radius: 50%;
}

.hi {
    margin-top: 33px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#hi_word {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

#hi_word p {
    font-size: 23px;
}

#hi_color {
    color: #9c9c9c;
}

#hi_icon img {
    width: 20%;
}

.titles {

}

.titles p {
    font-size: 80px;
    text-align: center;
    font-weight: 500;
    background: -webkit-linear-gradient(360deg,rgba(255, 255, 255), rgba(255, 255, 255, 3%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#btn_latestprojects {
    margin-top: 50px;
    margin-bottom: 130px;
}

#btn_latestprojects a {
    color: white;
    text-decoration: none;
    background-color: #323848;
    padding: 15px 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #3B4257;
    font-size: 18px;
    /*box-shadow: 0 50px 100px #000;*/
}

#btn_latestprojects_shadow {
    width: 200px;
    height: 30px;
    box-shadow: 0 5px 50px #000;
    position: relative;
    margin-top: -13px;
    margin-left: 13px;
    z-index: -1;
}

#btn_latestprojects a:hover {
    color:#d1b176;
}

.logo_company_bg {
    background-color: #282C38;
    height: auto;
    border-top: #3B4257;
    border-bottom: #3B4257;
    border-left: #282C38;
    border-right: #282C38;
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: center;

}

.logo_company {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 100px 125px;
}

.logo_size {
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.logo_size img {
    width: 80%;
    object-fit: cover;
}

/* About Me Section */

.about_me {
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    margin-left: 125px;
    margin-right: 125px;
}

.wrapname {
    width: 50%;
}

#name {
    display: flex;
    flex-direction: column;
}

#name p {
    font-size: 60px;
    font-weight: bolder;
    line-height: 70px;
}

#sign {
    display: flex;
}

#sign img {
    width: 30%;
    margin-left: 100px;
    margin-top: 103px;
}

.about_me {
    margin-bottom: 132px;
}

.about_me_wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#about_me_pstn {

}

#aboutme_title {
    margin-bottom: 25px;
}

#aboutmetitle_wd {
    font-size: 40px;
    font-weight: bold;
    background: -webkit-linear-gradient(360deg, rgba(255, 255, 255), rgba(255, 255, 255, 3%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#aboutme_wd {
    font-size: 23px;
    font-weight: normal;
    line-height: 30px;
    color: #ffffff;
}

/* SECTION MY PORTFOLIO */

.myportfolio {
    display: flex;
    flex-direction: column;
    margin-bottom: 135px;
    justify-content: center;
    align-items: center;
}

.myportfolio_title {
    font-size: 40px;
    margin-bottom: 30px;
}

#checkout {
    background: -webkit-linear-gradient(360deg, rgba(255,255,255), rgba(255,255,255,3%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#myportfolio_card {
    width: 100%;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.portsize {
    width: 450px;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.picport {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#portimg2 {
    width: 600px;
    height: 550px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
