@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@theme {
    --font-primary: 'Outfit', sans-serif;

    --color-background: #282C38;
    --color-black: #1e1e1e;
}